* {
  box-sizing: border-box;
}

main {

}

.grey-box {
  height: 100px;
  background-color: rgb(185, 189, 200);
  width: 100%;
  position: relative;
}

.little-blue {
  height: 80px;
  background-color: rgb(45, 97, 244);
  width: 70px;
  margin: 10px 30px 10px 15px;
  position: absolute;
}

.white-box {
  height: 120px;
  background-color: white;
  width: 100%;
  padding: 20px;
  text-align: left;
}

.big-blue {
  height: 100px;
  background-color: rgb(45, 97, 244);
  width: 100%;
  float: bottom;
}

.green-box {
  float: bottom;
  height: 100px;
  background-color: rgb(129, 221, 165);
  width: 100%;
}

.mustard-box {
  float: bottom;
  height: 100px;
  background-color: rgb(236, 241, 133);
  width: 100%
}

.yellow-box {
  float: bottom;
  height: 100px;
  background-color: rgb(255, 245, 0);
  width: 100%;
}
