.top {
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 150px;
}

.left {
background-color:rgb(199, 199, 199);
width: 12%;
height: 772px;
float: left;
}

.right {
  background-color:rgb(199, 199, 199);
  width: 12%;
  height: 772px;
  float: right;
}

.bottom {
  background-color: black;
  width: 100%;
  height:75px;
  float: bottom;
  margin-top: 697px;
}


}
